
.navhotline{
    margin-left : 60px;
}

.home{
    margin-right : 10px;
    margin-left : 10px;
}

.about{
    margin-right : 10px;
}

.reservation{
    margin-right : 10px;
}

.language{
    margin-left : 5px;
    margin-right : 15px;
}